.header-container {
  padding: 16px;
}

.user-info {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-menu {
  display: flex;
  align-items: center;
}

.user-info p {
  font-size: 24px;
}

.user-text {
  margin-right: 10px;
}

.user-icon {
  border: 1px solid black;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

form {
  padding: 20px;
  border: 2px solid black;
  margin: 10px 0;
  background-color: white;
  width: 90%;
  height: 90%;
}

.post-textarea {
  width: 85%;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 8px;
}

.posts-section {
  margin-top: 16px;
}

.posts-section h2 {
  font-size: 24px;
}

.post {
  margin-bottom: 16px;
  padding: 16px;
  width: 300px;
  height: 300px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-textarea {
  height: 100px;
}
.post-text {
  font-size: 16px;
}

.post-actions {
  margin-top: 8px;
}

.post-actions button {
  margin-right: 8px;
  padding: 4px 8px;
  font-size: 14px;
  cursor: pointer;
}

.dropdown-button,
.create-post-button {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  margin: 10px 10px;
}

.error-message {
  color: red;
  font-size: 16px;
  margin-top: 5px;
}
.create-post-form {
  width: 500px;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
