.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form input {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 14px;
}

.form button {
  padding: 8px 16px;
  font-size: 16px;
  color: #fff;
  background-color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button {
  padding: 8px 16px;
  margin-top: 10px;
  font-size: 16px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
