.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  margin-bottom: 5px;
}

.input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.errorMessage {
  color: #d9534f;
  font-size: 14px;
  margin-top: 5px;
}

.button {
  background-color: #000000;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.backButton {
  display: inline-block;
  margin-bottom: 20px;
  position: absolute;
  left: 20px;
  background-color: #000000;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}