.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backButton {
  display: inline-block;
  margin-bottom: 20px;
  position: absolute;
  left: 20px;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  width: 1000px;
}

.formGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 10px;
  width: 70%;
}

.input {
  padding: 10px;
  font-size: 16px;
  width: 90%;
  margin-left: 20px;
  justify-self: flex-end;
}

.button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #000000;
  color: #fff;
  border: none;
  cursor: pointer;
}
