.postCard {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 70px;
  width: 50vw;
  min-height: 200px;
  height: fit-content;
  border: 1px solid black;

  button {
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
    background-color: white;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}

.header {
  margin-bottom: 8px;
  text-decoration: underline;
  cursor: pointer;
}

.content {
  color: #333333;
  width: 80%;
}
